body {
  min-width: 500px;
}

a.navbar-brand {
  margin-left: 10px;
  padding: 5px;
  height: 68px;
  width: 68px;
}

#logo-nav {
  width: 100%;
}

ul.navbar-right {
  margin: 0;
  padding-top: 13.5px;
}

.nav-logged {
  font-family: 'Helvetica','Arial','sans-serif';
  font-size: 15px;
  padding-top: 7.5px;
  color: white;
}

.profile-box {
  margin-left: auto;
  float: left;
  width:  350px;
  height: 560px;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.4);
  margin-top: 180px;
}

.btn-block {
  width: 198px;
}

.navbar-default {
  height: 68px;
}

.nav-title {
  margin-left: 30px;

}

.stylish-input-group .input-group-addon{
    background: white !important;
    border-radius: 0 !important;

}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
  border-radius: 0 !important;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-group {
  width: 220px;
}

.torrent-download {
  width: 1%;
}

.torrent-title {
  width: 30%;
}

.torrent-details {
  width: 1%;
}

.torrent-size {
  width: 10%;
}

.torrent-submitter {
  width: 10%;
}

.torrent-files {
  width: 6%;
}

.torrent-date {
  width: 10%;
}


.table-responsive {
  margin-left: 20px;
 background-color: rgba(245, 245, 245, 0.7);
}

.align-text-center {
  text-align: center;
}

.comment-icon {
  width: 30px;
}

table > tbody > tr.torrent > td {
  vertical-align: middle;
}

.upload {
  vertical-align: middle;
}

#navbar-collapse {
background-color: #141313;
/*border: 2px solid black;*/
}

.navbar-header {
  height: 73px;
  background-color: #141313;
}

.center-upload {
  padding: 0 !important;
}

body {
  background-color: rgba(245, 245, 245, 0.75);
  background-image: url("/images/background.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  height: 690px;
  max-width: 1600px;
  background-position: top right;
  margin: auto;
}

.upload-div {
  background-color: rgba(245, 245, 245, 0.75);
  width: 500px;
}

.btn-success {
  background-color:black;
  border-color:blue;
}

.resizedTextbox {
}
