.nav-header {
  background: #F5F1F1;
  margin-bottom: auto;
  height: 52px;
}

#logo-nav {
  width: 55px;
  /*content:url('/');*/
}

.nav-left {
  width: 90%;
}

.navbar-right {
  float:right!important;
  margin-left: 80%;
}

.navbar-header {
  width: 90%;

}

.nav-logged {
  font-family: 'Helvetica','Arial','sans-serif';
  font-size: 15px;
  padding: 2px;
  border: 0px;
  background-color: inherit;
}

.profile-box {
  margin-left: auto;
  float: left;
  width:  350px;
  height: 560px;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.4);
  margin-top: 180px;
}

.btn-block {
  width: 195px;
}
