#logo-nav {
  width: 55px;
  margin-left: 20px;
  margin-top: 5px;
}

.navbar-right {
  float:right;
  margin-right: 20px;
  padding-top: 2px;
}

.nav-logged {
  font-family: 'Helvetica','Arial','sans-serif';
  font-size: 15px;
  padding-top: 15px;
}

.profile-box {
  margin-left: auto;
  float: left;
  width:  350px;
  height: 560px;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.4);
  margin-top: 180px;
}

.btn-block {
  width: 195px;
  height: 29px;
}

.navbar-default {
  height: 68px;
}

#logout-btn {

}