<h1 class="align-text-center">General Developers</h1>
<p class="align-text-center">A BitTorrent Library for General Assembly students</p>
<p class="align-text-center">Share and download torrents for your coding purposes</p>

<hr>

<div class="table-responsive">
  <h3>Video</h3>
  <table class="table table-bordered video">
    <thead>
      <tr>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-date">Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-bordered app">
    <h3>Apps</h3>
    <thead>
      <tr>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-size">Size</th>
        <th class="torrent-files">Files</th>
        <th class="torrent-date">Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <h3>Music</h3>
  <table class="table table-bordered music">
    <thead>
      <tr>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-size">Size</th>
        <th class="torrent-files">Files</th>
        <th class="torrent-date">Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <h3>Books</h3>
  <table class="table table-bordered book">
    <thead>
      <tr>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-size">Size</th>
        <th class="torrent-files">Files</th>
        <th class="torrent-date">Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <h3>Others</h3>
  <table class="table table-bordered other">
    <thead>
      <tr>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-size">Size</th>
        <th class="torrent-files">Files</th>
        <th class="torrent-date">Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script src="/js/torrents/index.js"></script>