<h1>General Developers</h1>
<p>Welcome welcome. Below are torrents </p>

<script src="/js/torrents/index.js"></script>

<h1>TORRENTS></h1>
<br>
<br>
<br>
<div class="table-responsive">
  <table class="table">
    <thead>Videos</thead><br>
      <tr>Torrent Name</tr>
      <tr>Size</tr>
      <tr>Files</tr>
      <tr>Date</tr>
        <td>Mr. Robot</td>
        <td>24 GB</td>
        <td>25</td>
        <td>Date</td>
  </table>
</div>
