<h1 class="align-text-center">General Developers</h1>
<p class="align-text-center">A BitTorrent Library for General Assembly students</p>
<p class="align-text-center">Share and download torrents for your coding purposes</p>

<hr>

<div class="table-responsive">
  <h3>Video</h3>
  <table class="table table-bordered video table-striped">
    <thead>
      <tr>
        <th class="torrent-download">DL</th>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-date">Upload Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-bordered app table-striped">
    <h3>Apps</h3>
    <thead>
      <tr>
        <th class="torrent-download">DL</th>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-date">Upload Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <h3>Music</h3>
  <table class="table table-bordered music table-striped">
    <thead>
      <tr>
        <th class="torrent-download">DL</th>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-date">Upload Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <h3>Books</h3>
  <table class="table table-bordered book table-striped">
    <thead>
      <tr>
        <th class="torrent-download">DL</th>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-date">Upload Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <h3>Others</h3>
  <table class="table table-bordered other table-striped">
    <thead>
      <tr>
        <th class="torrent-download">DL</th>
        <th class="torrent-title">Torrent Name</th>
        <th class="torrent-submitter">Submitter</th>
        <th class="torrent-details">Details</th>
        <th class="torrent-date">Upload Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script src="/js/torrents/index.js"></script>
