<div class="navbar navbar-default">
    <a href="/"><img id="logo-nav" src="/images/ga.png"></a>
      <ul class="navbar-right">
      <% if(user){ %>
        <div class="nav-logged">
          <% if(user.fb.access_token){ %>
            <img src="/images/login_fb.png"><span><%= "  " + user.fb.firstName + " " + user.fb.lastName %></span>
          <% } else { %>
            <img src="/images/login_gh.png"><span><%= "  " + user.gh.username %></span>
          <% } %>
          <a id="logout-btn" href="/signout">Logout<p class="glyphicon glyphicon-log-out"></p></a>
        </div>
      <% } else { %>
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Sign in with Facebook</a>
        <a href="/auth/github" class="btn btn-block btn-social btn-github">
        <span class="fa fa-github"></span> Sign in with Github</a>
      <% } %>
      </ul>
</div>
